HTML, BODY, CANVAS, 2d, p, .output-console, .bars-and-stuff, .hacker-3d-shiz {
    height: 100% !important; 
    width: 100% !important; 
    height: 100vh !important; 
    width: 100vw !important; 
    margin:0 !important; 
    padding:
        env(safe-area-inset-top, 0px)
        env(safe-area-inset-right, 0px)
        env(safe-area-inset-bottom, 0px)
        env(safe-area-inset-left, 0px) !important;
    /* required to prevent rogue scrollbars */
    overflow: hidden !important; 
    /* cosmetic stuff: */
    background-color:#ffffff00 !important; 
    background-size: cover !important;
}
