HTML, BODY, CANVAS {
    min-height: 100%;
    min-width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:0;
    margin:0;
    /* cosmetic stuff: */
    background-color:#ffffff00;
}
