HTML, BODY, CANVAS {
    height: 100% !important; 
    width: 100% !important; 
    height: 100vh !important; 
    width: 100vw !important; 
    margin:0 !important; 
    padding: 0 !important;
    /* required to prevent rogue scrollbars */
    overflow: hidden !important; 
    /* cosmetic stuff: */
    background-color:#ffffff00 !important; 
    background-size: cover !important;
}
